.vs\
C:\Users\gintu\source\repos\pauliux00\MoodBusters\Mood Busters\.vs
C:\Users\gintu\source\repos\pauliux00\MoodBusters\Mood Busters\bin
C:\Users\gintu\source\repos\pauliux00\MoodBusters\Mood Busters\obj
